<div style="padding: 20px;">
    <hr/>
  <nav>
    <a routerLink="DonarLogin" class="btn btn-primary active" role="button"
    routerLinkActive="active">Login</a>
    <a routerLink="DonarRegister" class="btn btn-primary active" role="button"
    routerLinkActive="active">Register</a>
    </nav>
  </div>
  <router-outlet></router-outlet>