
<h3>Create Customer</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()" #userRegisterform="ngForm">
    <div class="form-group">
      <label for="email">Email </label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="userRegister.email" name="email" #name="ngModel"> 
      
    </div>
 
    <div class="form-group">
      <label for="userName">UserName</label>
      <input type="text" class="form-control" id="userName" required [(ngModel)]="userRegister.userName" name="userName" #name="ngModel">
      
    </div>
     
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="userRegister.password" name="password" #name="ngModel" >
     
    </div>

    <div class="form-group">
      <label for="password">Confirm Password</label>
      <input type="text" class="form-control" id="confirmPassword" required [(ngModel)]="userRegister.confirmPassword" name="confirmPassword" #name="ngModel" >
      
    </div>

    <button type="submit" class="btn btn-success" [disabled]="userRegisterform.invalid">Submit</button>
  </form>
</div>


 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>       
  <button class="btn btn-success" (click)="newUserRegister">Add</button>
</div>