<h3>Donor Login</h3>
<div [hidden]="submitted" style="width: 300px;" class="image">
<form (ngSubmit)="onSubmit()" #donorform="ngForm">
<div class="form-group">
<label for="name">Name</label>
<input type="text" class="form-control" id="name" required [(ngModel)]="donor.name" name="name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
<small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
</div>
<div class="form-group">
<label for="email">Email</label>
<input type="email" class="form-control" id="email" required [(ngModel)]="donor.email" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
<small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" class="form-control" id="password" required [(ngModel)]="donor.password" name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
<small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
</div>
<div class="form-group">
<label for="contact">Contact Number</label>
<input type="text" class="form-control" id="contact" required [(ngModel)]="donor.contact" name="contact" #contact="ngModel" [class.is-invalid]="contact.invalid && contact.touched">
<small class="text-danger" [class.d-none]="contact.valid || contact.untouched">Contact Number is required</small>
</div>
<div class="form-group">
<label for="address">Address</label>
<input type="text" class="form-control" id="address" required [(ngModel)]="donor.address" name="address" #address="ngModel" [class.is-invalid]="address.invalid && address.touched">
<small class="text-danger" [class.d-none]="address.valid || address.untouched">Address is required</small>
</div>
<div class="form-group">
<label for="location">Location</label>
<input type="text" class="form-control" id="location" required [(ngModel)]="donor.location" name="location" #location="ngModel" [class.is-invalid]="location.invalid && location.touched">
<small class="text-danger" [class.d-none]="location.valid || location.untouched">location is required</small>
</div>
<div class="form-group">
<label for="btype">Blood-Group</label>
<input type="text" class="form-control" id="btype" required [(ngModel)]="donor.btype" name="btype" #btype="ngModel" [class.is-invalid]="btype.invalid && btype.touched">
<small class="text-danger" [class.d-none]="btype.valid || btype.untouched">BloodGroup is required</small>
</div>

<div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control" id="age" required [(ngModel)]="donor.age" name="age" #age="ngModel" [class.is-invalid]="age.invalid && age.touched" pattern="^\d{2}$">
    <div *ngIf="age.errors && (age.invalid || age.touched)">
    <small class="text-danger" *ngIf="age.errors.required">Age is required</small>
    <small class="text-danger" *ngIf="age.errors.pattern">Age must be two digits</small>
    </div>
    </div>
     
    <div class="form-group">
    <label>Gender</label>
    <div class="form-check">
    <input class="form-check-input" type="radio" name="gender" value="MALE" [(ngModel)]="donor.gender" #gender="ngModel" required >
    <label class="form-check-label">Male</label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" name="gender" value="FEMALE" [(ngModel)]="donor.gender" #gender="ngModel" required>
    <label class="form-check-label">Female</label>
    </div>
    <div *ngIf="gender.invalid && gender.untouched" class="text-danger">
     Gender is required
    </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]= "donorform.form.invalid" >Submit</button>
    </form>
    </div>
     
    <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newDonor()">Add</button>
    </div>