<div style="padding: 20px;">
  <h1 style="color: blue">Blood Banking Management System</h1>
<nav>
  <a routerLink="BloodBankManagementPortal/Admin" class="btn btn-primary active" role="button"
  routerLinkActive="active">Admin</a>
  <a routerLink="BloodBankManagementPortal/Donor" class="btn btn-primary active" role="button"
  routerLinkActive="active">Donor</a>
  <a routerLink="BloodBankManagementPortal/Requestor" class="btn btn-primary active" role="button"
  routerLinkActive="active">Requestor</a>
  </nav>
</div>
<router-outlet></router-outlet>