<div style="padding: 20px;">
    <hr/>
  <nav>
    <a routerLink="AdminLogin" class="btn btn-primary active" role="button"
    routerLinkActive="active">Login</a>
   
    </nav>
  </div>
  <router-outlet></router-outlet>